<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.Transform-Africa-2013"
	version 	= "2.0.0">

	<name>Transform Africa 2013</name>

	<description>
		Transform Africa 2013 shall be co-hosted by H.E. President Paul Kagame and Dr. Hamadoun I. Toure, Secretary General of the International Telecommunications Union (ITU) at the Kigali Serena Hotel on 28th- 31st October 2013.
	</description>

	<author href="https://github.com/uwayoj"
		email="uwayo2006@gmail.com">
		Uwayo Jacques
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="blurry.png" gap:role="default" />

    <gap:splash src="weirdo.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
